<!DOCTYPE html>
<html>
  <head>
    <title>Form</title>
    <link rel="stylesheet" href="/style.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/404.css" />
  </head>

  <body>
    <%- include('ui/nav.ejs') %>
    <div class="page-404">
      <div class="image-container">
        <img src="../assets/404.svg" alt="404" width="700px" />
      </div>
      <div class="text-container">
        <h1>Page is not Found</h1>
        <p>Page is not found</p>
        <button class="btn"><a href="/">Home</a></button>
      </div>
    </div>
  </body>
</html>
