<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/home.css" />
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <%- include('ui/nav.ejs') %>
    <div class="home-page">
      <div class="image-container">
        <img src="../assets/welcome2.svg" alt="welcome image" width="700px" />
      </div>
      <div class="text-container">
        <h1>Welcome to the Home Page</h1>
        <p>Server is running successfully</p>

        <button class="btn"><a href="/users">View Users</a></button>
      </div>
    </div>
  </body>
</html>
