<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <%- include('ui/nav.ejs') %>
   <div class="container">
    <h1>Home</h1>
    <p>Welcome to the home page!</p>
    <p>Click on the links above to navigate through the website.</p>
    </div>
  </body>
</html>